@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');

* {
  box-sizing: border-box;
}

$primary: #ca9066;
$primary-dark: #8f5831;
$primary-light: #ffcda9;
$primary-loud: #c25c3d;
$primary-louder: #cf380a;
